.main {
  color:red;
}

.main .header {
  height: 80px;
  display: flex;
  background: wheat;
  justify-content: center;
  align-items: center;
}

.main .headerText {
  font-weight: bolder;
}
.main .body {
  padding:10px;
}

.body .content {
  height: 150px;
  cursor: pointer;
  border: 1px solid black;
  padding: 10px;
}
@media ( min-width: 768px ) {
  .main {
    color:blue;
  }

  .main .header {
    height: 150px;
    background: wheat;
  }
}


@media ( min-width: 1024px ) {
  .main {
    color:black;
  }

  .main .header {
    height: 150px;
    background: wheat;
  }
}